
html, body {
    margin: 0;
    background-color: #222222;
}

h1 {
    margin-top: 0k
}

.container {
    outline: 1px solid #006979;
    background-color: #003949;
    color: #ddd;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.text-container {
    color: #ddd;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.continent-label {
    font-size: 250%;
    user-select: none;
    cursor: default;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}

.button {
    outline: 1px solid #006979;
    background-color: #005969;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #ddd;
    border: 0;
    padding: 5px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #006979;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    color: #005969;
    background: #ddd;
}

progress::-moz-progress-bar {
    background: #005969;
}

progress::-webkit-progress-value {
    background: #005969;
}

progress::-webkit-progress-value::before {
    position: absolute;
    right: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

progress::-webkit-progress-bar {
    background: #ddd;
}
