
html, body {
    margin: 0;
    background-color: #222;
    height: 100%;
}

h1 {
    margin-top: 0;
}

p {
    margin: 0;
}

.text-container {
    color: #ddd;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.continent-label {
    font-size: 250%;
    user-select: none;
    cursor: default;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 5;
}

.arc {
    z-index: 1;
}

.button {
    outline: 1px solid #006979;
    background-color: #005969;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #ddd;
    border: 0;
    padding: 5px;
    box-sizing: border-box;
}

.button:disabled {
    outline: 1px solid #004959;
    background-color: #003949;
}

.button:hover:enabled {
    background-color: #006979;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

#sidebar {
    width: 250px;
    height: 100%;
    outline: 1px solid #006979;
    background-color: #003949;
    color: #ddd;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    display: flex;
    flex-direction: column;
}

#map_container {
    width: 100%;
    height: 100%;
    flex: 1;
}

#stats {
    width: 100%;
}

#log {
    overflow-y: hidden;
    border-top: 1px solid #006979;
    border-bottom: 1px solid #006979;
    width: 100%;
    flex: 1;
}

#actions {
    width: 100%;
    height: 200px;
}

.modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 99999;
}

.modal > div {
    width: 30%;
    position: relative;
    margin: 20% auto;
    padding: 5px 20px 13px 20px;
    background: #005969;
    outline: 2px solid #006979;
    color: #ddd;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    color: #005969;
    background: #ddd;
}

progress::-moz-progress-bar {
    background: #005969;
}

progress::-webkit-progress-value {
    background: #005969;
}

progress::-webkit-progress-bar {
    background: #ddd;
}
